---
import { Image } from "astro:assets";
import Container from "../ui/container.astro";
import call from "../../assets/icons/call.png";
import hours from "../../assets/icons/schedule.png";
import sms from "../../assets/icons/chat.png";
import mail from "../../assets/icons/mail.png";
import facebook from "../../assets/icons/Facebook_Logo_Primary.png";
import yelp from "../../assets/icons/yelp_burst.png";
import google from "../../assets/icons/google.png";

---

<header class="flex flex-row w-full h-[35px] justify-evenly align-center gap-5 bg-dark font-semibold text-white sticky top-0 z-[100] text-[clamp(0.5rem,0.7vw+0.25rem,0.875rem)] no-underline">
    {/* Socials */}

          <div class="flex gap-5">
            <a href="https://maps.app.goo.gl/8wiPW2HTwWQB3ZQp9" class="text-decoration-none">
            <image class="w-4" src="{google}" alt="Our Google Page" /> 
            </a>
            
            <a href="https://www.yelp.com/biz/sage-tech-portland" class="text-decoration-none">
              <image class="w-4" src="{yelp}" alt="Our Yelp Page" />
            </a>
            <a href="https://facebook.com/sagetechpdx" class="text-decoration-none">
              <image class="w-4" src="{facebook}" alt="Our Facebook Page" />
            </a>
          </div>

    {/* Email */}
    <div>        
        <a class="align-center flex flex-row items-center w-auto gap-2" href="mailto:info@sagetech.support">
            <Image class="w-4" src={mail} alt="Email Us" />
            <div class="hidden md:flex">info@sagetech.support</div>
        </a>
    </div>

    {/* Phone */}
    <div>
        <a class="align-center flex flex-row items-center w-auto gap-2" href="tel:5034546438">
            <Image class="w-4" src={call} alt="Call Us" />
            <div class="hidden md:flex">(503) 454-6438</div>
        </a>
    </div>

    {/* SMS */}
    <div>
        <a class="align-center flex flex-row items-center w-auto gap-2" href="sms:15034546438">
            <Image class="w-4" src={sms} alt="Text Us" />
            <div class="hidden md:flex">(503) 454-6438</div>
        </a>
    </div>

    {/* Hours */}
    <div class="align-center flex flex-row items-center w-auto gap-2">
        <Image class="w-4" src={hours} alt="Our Hours" />
        <div class="hidden md:flex">Monday-Friday 8am-7pm</div>
        <div class="flex md:hidden">M-F 8am-7pm</div>
    </div>
</header>
